name: PR assignment

on:
    pull_request:
        types: [opened]

jobs:
    auto-assign:
        runs-on: ubuntu-latest
        permissions:
            pull-requests: write
        steps:
            - name: 'Auto-assign issue'
              uses: pozil/auto-assign-issue@v1
              with:
                repo-token: ${{ secrets.GITHUB_TOKEN }}
                assignees: simenandre, rebelopsio, tmeckel
                numOfAssignee: 5
                allowSelfAssign: false
