name: build-sdk

on:
  workflow_call:
    inputs:
      provider:
        required: true
        type: string
      dotnetversion:
        required: true
        type: string
      goversion:
        required: true
        type: string
      nodeversion:
        required: true
        type: string
      pythonversion:
        required: true
        type: string

# needs: prerequisites

jobs:
  build_sdk:
    name: build_sdk
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        language:
        - nodejs
        - python
        - dotnet
        - go
        # - java
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4
    - name: Checkout Scripts Repo
      uses: actions/checkout@v4
      with:
        path: ci-scripts
        repository: pulumi/scripts
    - name: Unshallow clone for tags
      run: git fetch --prune --unshallow --tags
    - name: Install Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ inputs.goversion }}
    - name: Install pulumictl
      uses: jaxxstorm/action-install-gh-release@v1.10.0
      with:
        token: ${{ github.token }}
        repo: pulumi/pulumictl
    - name: Install Pulumi CLI
      uses: pulumi/actions@v4
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: ${{ inputs.nodeversion }}
        registry-url: https://registry.npmjs.org
    - name: Setup DotNet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ inputs.dotnetversion }}
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ inputs.pythonversion }}
    # - name: Setup Java
    #   uses: actions/setup-java@v3
    #   with:
    #     cache: gradle
    #     distribution: temurin
    #     java-version: ${{ inputs.javaversion }}
    - name: Download provider + tfgen binaries
      uses: actions/download-artifact@v3
      with:
        name: ${{ inputs.provider }}-provider.tar.gz
        path: ${{ github.workspace }}/bin
    - name: Untar provider binaries
      run: >-
        tar -zxf ${{ github.workspace }}/bin/provider.tar.gz -C ${{
        github.workspace}}/bin

        find ${{ github.workspace }} -name "pulumi-*-${{ inputs.provider }}" -print -exec chmod +x {} \;
    - name: Install plugins
      run: make install_plugins
    - name: Update path
      run: echo "${{ github.workspace }}/bin" >> $GITHUB_PATH
    - name: Set PACKAGE_VERSION to Env
      run: echo "PACKAGE_VERSION=v$(pulumictl get version --language generic)" >>
        $GITHUB_ENV
    - name: Build SDK
      run: make build_${{ matrix.language }}
    - name: Check worktree clean
      run: ./ci-scripts/ci/check-worktree-is-clean
    - name: Compress SDK folder
      run: tar -zcf sdk/${{ matrix.language }}.tar.gz -C sdk/${{ matrix.language }} .
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.language  }}-sdk.tar.gz
        path: ${{ github.workspace}}/sdk/${{ matrix.language }}.tar.gz
    # Can we notify in #Pulumiverse channel on community slack?
    # - if: failure() && github.event_name == 'push'
    #   name: Notify Slack
    #   uses: 8398a7/action-slack@v3
    #   with:
    #     author_name: Failure in building ${{ matrix.language }} sdk
    #     fields: repo,commit,author,action
    #     status: ${{ job.status }}
